
  body{
    background :linear-gradient(to right, #1e3c72, #f5f7fa);
    font-size: large;
    font-style: italic;
display: flex; 
justify-content: center;
 }
  input{
    padding: 5px;
    border-radius: 5px;
    text-align: center; 
  }
  #ername{
    color: red;
    display: none;
  }
  
  #ename{
    color: red;
    display: none;
  }

  #pass{
    color: red;
    display: none;
  }

  #confrim{
    color: red;
    display: none;
  }
  
  #num{
    color: red;
    display: none;
  }

  form{
   background:linear-gradient(135deg, #7f8fa6, #f7f9);
   padding: 50px;
   box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
   transition: box-shadow 0.3s ease, transform 0.3s ease;
   width: 400px;
   text-align: center;
   margin: flex;
   border-radius: 50px ;
   border: 2px solid black;
   font-size: 20px;
   font-weight: bold;
   

  }
  #submit{
    padding:5px;
  }
  h1{
    text-align: center;
    color: darkslategray;
    text-shadow:1px 1px 2px rgba(0, 0, 0, 0.2);
  }